<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
	<title>推荐旅游</title>
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_icgfcixm8qn9izfr.css" />
	<link rel="stylesheet" href="__PUBLIC__/M/assets/css/swiper.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/M/css/reset.css" />
	<link rel='stylesheet' href="__PUBLIC__/M/css/common.css" />
	<link rel="stylesheet" href="__PUBLIC__/M/css/index.css" />
	<link rel='stylesheet' href="__PUBLIC__/M/css/access.css" />
	<script type="text/javascript" src='__PUBLIC__/M/assets/js/jquery.min.js'></script>
	<script type="text/javascript" src='__PUBLIC__/M/assets/js/swiper.min.js'></script>
	<script type="text/javascript" src='__PUBLIC__/M/js/base.js'></script>
	<script type="text/javascript" src='__PUBLIC__/M/js/common.js'></script>
</head>

<body>
	<div class='main_container'>
		<!-- <div class='index_carousel_wrapper swiper-container'>
			<ul class='swiper-wrapper'>
				<li class='swiper-slide'>
					<a href='javascript:;'>
						<img src='__PUBLIC__/M/images/banner_articlelist_announcement_00000.jpg' />
					</a>
				</li>
				<li class='swiper-slide'>
					<a href='javascript:;'>
						<img src='__PUBLIC__/M/images/banner_articlelist_news_00000.jpg' />
					</a>
				</li>
			</ul>
			<div class='swiper-pagination'></div>
		</div> -->

		<div class="common_header_wrapper">
			<a class="left_btn back_btn" href="{:U('Index/index')}">
				<span class="iconfont icon-backward2"></span>
			</a>
			<p>推荐线路</p>
		</div>
		<div class='index_categorylist_wrapper'>
			
			<ul>
				<volist name="list" id="vo">
				<li>
					<a href="{:U('Product/index')}">
						<img src='__PUBLIC__/M/images/static/02w58PICuYi_1024.jpg' />
					</a>
					<label>{$vo.category}</label>
				</li>
			<!-- 	<li>
					<a href="{:U('Carrent/index')}">
						<img src='__PUBLIC__/M/images/static/10i58PICmeX.jpg' />
					</a>
					<label>多日游</label>
				</li>
				<li>
					<a href="{:U('Hotel/index')}">
						<img src='__PUBLIC__/M/images/static/73t58PICjpT_1024.jpg' />
					</a>
					<label>深度游</label>
				</li>
				<li>
					<a href="{:U('JiPiao/index')}">
						<img src='__PUBLIC__/M/images/static/240418-14112P9345826.jpg' />
					</a>
					<label>当下必玩</label>
				</li>
				<li>
					<a href="http://imf.zqggz.com">
						<img src='__PUBLIC__/M/images/static/9448607_153955535000_2.jpg' />
					</a>
					<label>测试1</label>
				</li>
				<li>
					<a href="javascript:;">
						<img src='__PUBLIC__/M/images/static/44n58PICAT2.jpg' />
					</a>
					<label>测试2</label>
				</li> -->
				</volist>
			</ul>
		
		</div>
</body>
</html>