<extend name="Base/Common"/>
<block name="body">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 线路管理 <span class="c-gray en">&gt;</span> 线路列表 <a id="reload" class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:void(0);" onclick="location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                <a href="javascript:;" onClick="travel_edit('新增线路','{:U('travel/travel_edit')}','1600','850')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 新增线路</a>
            </span>
            <span class="r">共有数据：<strong id="dataTableCount">{:count($travel_list)}</strong> 条</span>
        </div>
        <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
                <tr class="text-c">
                    <th width="40">ID</th>
                    <th width="40">缩略图</th>
                    <th width="300">产品</th>
                    <th width="40">分类栏目</th>
                    <th width="40">售卖价</th>
                    <th width="40">状态</th>
                    <th width="100">操作</th>
                </tr>
            </thead>
            <tbody>
            	<volist name="travel_list" id="vo" key="k">
                <tr class="text-c">
                    <td>{$k}</td>
                    <td><if condition="$vo['smallImg'] neq ''"><img src="./Uploads/travel/{$vo['id']}/{$vo['smallImg']}" style="width:60px;"></if></td>
                    <td>{$vo.travel_title}</td>
                    <td>{$vo.category}</td>
                    <td>{$vo.travel_price}</td>               
                    <td class="td-status">
                    	<if condition="$vo['travel_status'] eq 1">
                    		<span class="label label-success radius">已上架</span>
                        <else />
                        	<span class="label label-defaunt radius">已下架</span>
                        </if>
                    </td>
                    <td class="td-manage">
                    	<if condition="$vo['travel_status'] eq 1">
                        	<a style="text-decoration:none" onClick="travel_stop(this,'{$vo.id}')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe631;</i></a> 
                        <else />
                        	<a style="text-decoration:none" onClick="travel_start(this,'{$vo.id}')" href="javascript:;" title="上架"><i class="Hui-iconfont">&#xe6e1;</i></a> 
                        </if>
                        <a title="编辑" href="javascript:;" onClick="travel_edit('线路更新','{:U('travel/travel_edit',array('id'=>$vo['id']))}','1600','850')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
                        <a title="删除" href="javascript:;" onClick="travel_del(this,'{$vo.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                </tr>
                </volist>
            </tbody>
        </table>
        </div>
    </div>
</block>
<block name="script">
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__HUIADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__HUIADMIN__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__HUIADMIN__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  //{"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
		]
	});
});
/*用户-添加*/
function travel_edit(title,url,w,h){
	layer_show(title,url,w,h);
}

/*用户-下架*/
function travel_stop(obj,id){
	layer.confirm('确认要下架吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '{:U("travel/travel_status")}',
			data:'status=stop&id='+id,
			dataType: 'json',
			success: function(data){
				if(data.status==1){
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="travel_start(this,'+id+')" href="javascript:;" title="上架"><i class="Hui-iconfont">&#xe6e1;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
					$(obj).remove();
					layer.msg('已下架!',{icon: 6,time:1500});
				}else{
					layer.msg(data.info,{icon: 5,time:1500});
				}
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

/*用户-上架*/
function travel_start(obj,id){
	layer.confirm('确认要上架吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '{:U("travel/travel_status")}',
			data:'status=start&id='+id,
			dataType: 'json',
			success: function(data){
				if(data.status==1){
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="travel_stop(this,'+id+')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe631;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已上架</span>');
					$(obj).remove();
					layer.msg('已上架!',{icon: 6,time:1500});
				}else{
					layer.msg(data.info,{icon: 5,time:1500});
				}
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}

/*用户-删除*/
function travel_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '{:U("travel/travel_delete")}',
			data:'id='+id,
			dataType: 'json',
			success: function(data){
				if(data.status==1){
					$(obj).parents("tr").remove();
					layer.msg('已删除!',{icon:1,time:1500});
				}else{
					layer.msg(data.info,{icon: 5,time:1500});
				}
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

</script> 
</block>