.access_main_container, .access_header_container {
	width: 100%;
	min-width: 1200px;
}
.access_header_container {
	background-color: #fff;
	box-shadow: 0 0 15px #ccc;
	position: relative;
}
.access_header_wrapper {
	margin: 0 auto;
	width: 1200px;
	height: 80px;
}
.access_header_wrapper .logo {
	display: inline-block;
	height: 100%;
}
.access_header_wrapper .logo a {
	display: inline-block;
	margin: 5px 30px;
	width: 35px;
	vertical-align: middle;
}
.access_header_wrapper .logo a img {
	display: inline-block;
	width: 100%;
}
.access_header_wrapper .logo label {
	display: inline-block;
	line-height: 80px;
	color: #6c6e86;
	vertical-align: middle;
}
.access_header_wrapper .nav {
	float: right;
}
.access_header_wrapper .nav li {
	display: inline-block;
	margin: 0 15px;
	height: 100%;
	line-height: 80px;
}
.access_header_wrapper .nav li a {
	color: #6c6e86;
}
.access_header_wrapper .nav li a:hover {
	color: #000;
}
.access_main_container {
	background-color: #e8edf6;
}
.access_main_wrapper {
	margin: 0 auto;
	width: 1200px;
	height: 600px;
	overflow: hidden;
}

/*~~~~~~~~~~access_bg_wrapper~~~~~~~~~~*/

.access_bg_wrapper {
	display: inline-block;
	width: 440px;
	height: 370px;
	padding: 100px 150px;
	vertical-align: middle;
}
.access_bg_wrapper img {
	display: block;
	width: 100%;
	height: 100%;
}

/*~~~~~~~~~~~access_loginregister_wrapper~~~~~~~~~~~*/

.access_loginregister_wrapper {
	display: inline-block;
	padding: 20px;
	width: 260px;
	background-color: #fff;
	vertical-align: middle;
}
.access_loginregister_wrapper h2 {
	padding: 0 0 20px 0;
	width: 100%;
	font-size: 20px;
	text-align: center;
	color: #333;
}
.access_loginregister_wrapper .link {
	color: #7fbe25;
	font-size: 13px;
}
.access_loginregister_wrapper .link:hover {
	text-decoration: underline;
}
.access_smsverification_item input {
	display: inline-block;
	padding: 0 10px;
	width: 50%;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	vertical-align: top;
}
.access_smsverification_item a {
	display: inline-block;
	width: 95px;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	color: #fff;
	background-color: #83be22;
	border-radius: 5px;
	text-align: center;
	vertical-align: top;
}
.access_smsverification_item a.disabled {
	background-color: #bababa;
}

/*~~~~~~~~~~~access_loginform_wrapper~~~~~~~~~~~*/

.access_loginform_wrapper {
	overflow: hidden;
}
.access_loginform_wrapper li {
	margin: 10px 0;
}
.access_loginform_wrapper label {
	display: block;
	color: #666;
	font-size: 14px;
}
.access_loginform_wrapper input {
	display: block;
	margin: 10px 0;
	padding: 10px 5px;
	width: 248px;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #333;
}

/*~~~~~~~~~~~access_registerform_wrapper~~~~~~~~~~~*/

.access_registerform_wrapper {
	overflow: hidden;
}
.access_registerform_wrapper li {
	margin: 0 0 20px 0;
	position: relative;
}
.access_registerform_wrapper span {
	display: block;
	width: 35px;
	color: #666;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	border-right: 1px solid #ccc;
	position: absolute;
	top: 0;
}
.access_registerform_wrapper input {
	display: block;
	margin: 10px 0;
	padding: 10px 5px 10px 40px;
	width: 210px;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #333;
}

/*~~~~~~~~~~~access_lrbtn_item~~~~~~~~~~~*/

.access_lrbtn_item, .access_lrbtnhollow_item {
	display: block;
	margin: 10px 0;
	width: 100%;
	height: 35px;
	line-height: 35px;
	color: #fff;
	text-align: center;
	transition: all 0.3s;
	border: 1px solid #7fbe25;
}
.access_lrbtn_item {
	background-color: #7fbe25;
}
.access_lrbtnhollow_item {
	color: #7fbe25;
	background-color: #fff;
}
.access_lrbtn_item:hover {
	background-color: #699c21;
	transition: all 0.3s;
}
.access_lrbtnhollow_item:hover {
	color: #fff;
	background-color: #699c21;
	transition: all 0.3s;
}
.access_lrbtn_item:active, .access_lrbtnhollow_item:active {
	color: #ccc;
	background-color: #507b13;
	transition: all 0.3s;
}
.access_agreement_wrapper {
	display: inline-block;
	margin: 10px 0 0 0;
	width: 190px;
}
.access_agreement_wrapper label {
	font-size: 14px;
	color: #7fbe25;
	cursor: pointer;
}

/*~~~~~~~~~~access_feature_wrapper~~~~~~~~~~*/

.access_feature_container {
	padding: 30px 0;
	width: 100%;
	height: 55px;
	background-color: #fff;
}
.access_feature_wrapper {
	margin: 0 auto;
	width: 600px;
	color: #6b6d84;
}
.access_feature_wrapper .hotline {
	display: inline-block;
	width: 240px;
}
.access_feature_wrapper .hotline .telephone {
	display: inline-block;
	font-size: 60px;
	vertical-align: middle;
}
.access_feature_wrapper .hotline p {
	display: inline-block;
	margin: 0 0 0 10px;
	font-size: 20px;
	line-height: 30px;
	vertical-align: middle;
}
.access_feature_wrapper .feature {
	display: inline-block;
	width: 350px;
}
.access_feature_wrapper .feature li {
	display: inline-block;
	padding: 0 20px;
	font-size: 18px;
	border-left: 1px solid #6b6d84;
}
.access_feature_wrapper .feature li a {
	color: #6b6d84;
}
.access_feature_wrapper .feature li a:hover {
	color: #313454;
}
.access_feature_wrapper .feature li:first-child {
	border: 0;
}

.access_reset_wrapper{
	margin: 20px auto;
	padding: 30px 0;
	width: 740px;
	height: 500px;
	background-color: #fff;
	overflow: hidden;
}
/*~~~~~~~~~~access_progress_wrapper~~~~~~~~~~*/
.access_progress_wrapper{
	margin: 20px auto;
	width: 850px;
	background-color: #fff;
	font-size: 0;
}
.access_progress_wrapper ul{
	margin: 0 auto;
	width: 750px;
}
.access_progress_wrapper ul li{
	display: inline-block;
	margin: 10px 0 40px 0;
	width: 210px;
	height: 5px;
	font-size: 15px;
	text-align: center;
	background-color: #cfcdcd;
}
.access_progress_wrapper ul li span{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	position: relative;
	bottom: 7px;
	color: #fff;
	font-size: 12px;
	background-color: #cfcdcd;
}
.access_progress_wrapper ul li label{
	display: block;
}
.access_progress_wrapper .active, .access_progress_wrapper .active span{
	background-color: #83be22;
}
/*~~~~~~~~~~access_resetform_wrapper~~~~~~~~~~*/
.access_resetform_wrapper{
	margin: 20px auto;
	width: 400px;
	overflow: hidden;
}
.access_resetform_wrapper li{
	margin: 20px 0;
}
.access_resetform_wrapper input{
	display: inline-block;
	padding: 0 10px;
	width: 200px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.access_resetform_wrapper label{
	display: inline-block;
	margin: 0 10px 0 0;
	min-width: 100px;
	text-align: right;
	font-size: 13px;
	color: #333;
}
.access_resetform_wrapper .access_smsverification_item{
	display: inline-block;
}
.access_resetform_wrapper .access_smsverification_item input{
	display: inline-block;
	width: 100px;
}
.access_resetform_wrapper .access_smsverification_item a{
	color: #fff;
	font-size: 12px;
}
.access_smsverification_item .disabled{
	background-color: #999;
}

.access_resetbtn_item{
	display: block;
	margin: 50px auto;
	padding: 10px 90px;
	width: 70px;
	text-align: center;
	background-color: #83be22;
	color: #fff;
	border-radius: 5px;
}
.access_resetsuccess_wrapper{
	margin: 50px 0;
	width: 100%;
	text-align: center;
}
.access_resetsuccess_wrapper span{
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 35px;
	background-color: #83be32;
	border-radius: 50%;
	vertical-align: middle;
}
.access_resetsuccess_wrapper label{
	margin: 0 20px;
	font-size: 23px;
	color: #333;
	vertical-align: middle;
}