.carrent_mainlist_wrapper {
	padding: 0.2rem;
	width: 100%;
}
.carrent_mainlist_wrapper>ul>li {
	margin: 0 0 0.5rem 0;
	min-height: 4rem;
}
.carrent_mainlist_wrapper>ul>li .thumbnail {
	display: inline-block;
	width: 5rem;
	height: 4rem;
	vertical-align: top;
}
.carrent_mainlist_wrapper>ul>li .thumbnail img {
	display: block;
	width: 100%;
}
.carrent_mainlist_wrapper>ul>li .detail {
	display: inline-block;
	padding: 0 0 0 0.2rem;
	width: 10rem;
	min-height: 4rem;
	vertical-align: top;
	border-left: 1px solid #ccc;
}
.carrent_mainlist_wrapper>ul>li .detail .title {
	padding: 0 0 0.3rem 0;
	font-size: 0.6rem;
}
.carrent_mainlist_wrapper>ul>li .detail p {
	font-size: 0.4rem;
	line-height: 0.7rem;
}
