/*~~~~~~~~~~index_carousel_wrapper~~~~~~~~~~*/

.index_carousel_wrapper {
	width: 100%;
	min-width: 320px;
	height: 5rem;
}
.index_carousel_wrapper li {
	height: 100%;
}
.index_carousel_wrapper li a {
	display: block;
}
.index_carousel_wrapper li a img {
	display: block;
	width: 100%;
}

/*~~~~~~~~~~index_categorylist_wrapper~~~~~~~~~~*/

.index_categorylist_wrapper {
	margin: 0.5rem 0;
	width: 100%;
}
.index_categorylist_wrapper ul {
	text-align: center;
}
.index_categorylist_wrapper li {
	display: inline-block;
	margin: 0.5rem 1rem;
	width: 3rem;
	height: 3rem;
}
.index_categorylist_wrapper li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}
.index_categorylist_wrapper li a img {
	display: inline-block;
	width: 100%;
	transition: all 0.3s;
}
.index_categorylist_wrapper li label {
	display: block;
	padding: 0.5rem 0;
	text-align: center;
	font-size: 0.6rem;
}

/*~~~~~~~~~~index_productlist_wrapper~~~~~~~~~~*/

.index_productlist_wrapper {
	margin: 0 0 0.5rem 0;
	padding: 0 0.5rem;
}
.index_productlist_wrapper li .thumbnail {
	width: 6rem;
	height: 6rem;
	position: relative;
	overflow: hidden;
}
.index_productlist_wrapper li .thumbnail .hot {
	position: absolute;
	width: 2rem;
	top: 0;
	right: 0;
}
.index_productlist_wrapper li .thumbnail img {
	display: block;
	width: 100%;
	transition: all 0.3s;
}
.index_productlist_wrapper li .thumbnail .price {
	padding: 0.3rem 0.5rem 0.3rem 0;
	position: absolute;
	bottom: 1rem;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	border-top-right-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
}
.index_productlist_wrapper li .thumbnail .price span {
	font-size: 0.7rem;
	font-weight: bold;
	color: #fff000;
}
.index_productlist_wrapper li .thumbnail .price label {
	font-size: 0.5rem;
	color: #999;
}
.index_productlist_wrapper>ul>li {
	display: inline-block;
	margin: 0.5rem;
	position: relative;
}
.index_productlist_wrapper>ul>li .title {
	font-size: 0.7rem;
	color: #333;
}
.index_productlist_wrapper .common_redpacket_item span{
	width: 0.6rem;
	height: 0.6rem;
	background-size: 0.6rem;
}
.index_productlist_wrapper .common_redpacket_item label{
	font-size: 0.5rem;
}
