.order_main_container {
    width: 100%;
}

/*~~~~~~~~~~order_empty_wrapper~~~~~~~~~~*/

.order_empty_wrapper {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 40%;
}
.order_empty_wrapper img {
    display: block;
    margin: 0 auto;
}

/*~~~~~~~~~~order_tab_wrapper~~~~~~~~~~*/

.order_tab_wrapper {
    width: 100%;
    font-size: 0;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 0.2rem #ccc;
    position: fixed;
    top: 0;
}
.order_tab_wrapper ul {
    display: -webkit-box;
}
.order_tab_wrapper li {
    line-height: 1.6rem;
    box-sizing: border-box;
    flex-wrap: nowrap;
    -webkit-box-flex: 1;
}
.order_tab_wrapper>ul>.active a {
    color: #ff4400;
    border-bottom: 2px solid #ff4400;
}
.order_tab_wrapper li a {
    display: inline-block;
    width: 100%;
    font-size: 0.7rem;
    line-height: 2rem;
    text-align: center;
}

/*~~~~~~~~~~order_list_wrapper~~~~~~~~~~*/

.order_list_wrapper>ul>li {
    display: none;
}
.order_list_wrapper>ul>li>ul>li {
    padding: 0.3rem 0 0 0;
    font-size: 0;
    border-top: 1px solid #ccc;
}
.order_list_wrapper>ul>li>ul>li:first-child {
    border-top: 0;
}
.order_list_wrapper>ul>.active {
    display: block;
}
.order_list_wrapper .leftcontent {
    display: inline-block;
    margin: 0.2rem;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    vertical-align: top;
}
.order_list_wrapper .thumbnail {
    width: 100%;
    height: 100%;
}
.order_list_wrapper .thumbnail img {
    display: block;
    width: 100%;
    transition: all 0.3s;
}
.order_list_wrapper .main {
    display: inline-block;
    width: 7rem;
    font-size: 0.8rem;
    vertical-align: top;
}
.order_list_wrapper .title {
    margin: 0.3rem 0 0.5rem 0;
    font-size: 0.6rem;
}
.order_list_wrapper .type {
    margin: 0.1rem 0;
    font-size: 0.5rem;
    color: #999;
}
.order_list_wrapper .date {
    margin: 0.1rem 0;
    font-size: 0.5rem;
    color: #666;
}
.order_list_wrapper .rightcontent {
    display: inline-block;
    width: 4.5rem;
    font-size: 0.8rem;
    vertical-align: top;
}
.order_list_wrapper .rightcontent .totalprice {
	margin: 0.2rem 0.5rem 0 0.5rem;
    font-size: 0.5rem;
}
.order_list_wrapper .orderfooter {
    width: 100%;
}
.order_list_wrapper .orderfooter:after {
    content: '';
    display: block;
    clear: both;
}
.order_list_wrapper .orderfooter .orderstatus {
    float: left;
    margin: 0.5rem;
    font-size: 0.4rem;
    color: #ff4400;
    vertical-align: middle;
}
.order_list_wrapper .orderbtn_wrapper {
    float: right;
    padding: 0 0.3rem;
    font-size: 0.4rem;
}

/*~~~~~~~~~~draftingoflegalinstruments.html~~~~~~~~~~*/

.order_detail_wrapper>li {
    border-bottom: 1px solid #efefef;
}
.order_detail_wrapper li {
    width: 100%;
    line-height: 1.5rem;
    font-size: 0;
    position: relative;
    box-sizing: border-box;
}
.order_detail_wrapper li label {
    display: inline-block;
    padding: 0 0 0 0.5rem;
    width: 9rem;
    height: 1.7rem;
    line-height: 1.7rem;
    font-size: 0.6rem;
    vertical-align: top;
}
.order_detail_wrapper li>p {
    display: inline-block;
    padding: 0 1.5rem 0 0;
    width: 9rem;
    height: 1.7rem;
    font-size: 0.6rem;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
}
.order_detail_wrapper li>a {
    display: inline-block;
    width: 8.5rem;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}
.order_detail_wrapper li>a p {
    display: inline-block;
    width: 7rem;
    height: 1.7rem;
    line-height: 1.7rem;
    color: #000;
    font-size: 0.6rem;
}
.order_detail_wrapper li>a p i {
    font-style: normal;
    color: #ff9900;
}
.order_detail_wrapper li>a span {
    display: inline-block;
    text-align: center;
    width: 1.5rem;
    font-size: 0.6rem;
}
.order_detail_wrapper li .price {
    color: #e60853;
}
