.user_header_wrapper{
	width: 100%;
	text-align: center;
}
.user_header_wrapper .avatar{
	display: inline-block;
	margin: 1rem 0;
}
.user_header_wrapper .avatar img{
	display: block;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}
.user_header_wrapper .avatar label{
	display: block;
	margin: 1rem 0;
}
/*~~~~~~~~~~user_mainlist_wrapper~~~~~~~~~~*/
.user_mainlist_wrapper{
	width: 100%;
}
.user_mainlist_wrapper li{
	font-size: 1rem;
	line-height: 3rem;
	border-bottom: 1px solid #ccc;
}
.user_mainlist_wrapper li a{
	display: block;
	padding: 0 1rem;
	width: 98%;
}
.user_mainlist_wrapper li:first-child{
	border-top: 1px solid #ccc;
}
/*~~~~~~~~~~user_csbanner_wrapper~~~~~~~~~~*/
.user_csbanner_wrapper img{
	display: block;
	width: 100%;
}
/*~~~~~~~~~~user_about_wrapper~~~~~~~~~~*/
.user_about_wrapper p{
	margin: 0.2rem;
	line-height: 1rem;
	font-size: 0.6rem;
}
/*~~~~~~~~~~order_empty_wrapper~~~~~~~~~~*/
.order_empty_wrapper img{
	display: block;
	margin: 0 auto;
}