<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
	<title>租车详情</title>
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_icgfcixm8qn9izfr.css" />
	<link rel="stylesheet" href="__PUBLIC__/M/assets/css/swiper.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/M/css/reset.css" />
	<link rel='stylesheet' href="__PUBLIC__/M/css/common.css" />
	<link rel='stylesheet' href="__PUBLIC__/M/css/user.css" />
	<link rel='stylesheet' href="__PUBLIC__/M/css/access.css" />
	<link rel='stylesheet' href="__PUBLIC__/M/css/carrent.css" />
	<script type="text/javascript" src='__PUBLIC__/M/assets/js/jquery.min.js'></script>
	<script type="text/javascript" src='__PUBLIC__/M/assets/js/swiper.min.js'></script>
	<script type="text/javascript" src='__PUBLIC__/M/js/base.js'></script>
	<script type="text/javascript" src='__PUBLIC__/M/js/common.js'></script>
</head>

<body>
	<div class='main_container'>
		<div class="common_header_wrapper fixed transparent">
			<a class="common_navbtn_item" href="<{:U('Carrent/index')}>">
				<span class="iconfont icon-backward2"></span>
			</a>
		</div>
		<div class='carrent_introduce_wrapper'>
			<div class='thumbnail'>
				<img src="__PUBLIC__/M/images/static/car.jpg">
			</div>
			<div class='main'>
				<h2 class='title'>14座金杯/大宇商务车 桂林阳朔包车旅游</h2>
				<ul class='property'>
					<li>
						<label>所属品牌：</label>
						<span>金龙</span>
					</li>
					<li>
						<label>车辆级别：</label>
						<span>商务车</span>
					</li>
					<li>
						<label>可乘人数/座位数：</label>
						<span>15</span>
					</li>
				</ul>
			</div>
			<div class='introduce'>
				<p>
					金杯海狮H2L成功打造出5420×1880×2285(mm）的超大车身，其轴距更达到了惊人的3110mm。如此宽大的车身空间，使其座椅顺利扩充到10座以上，座椅变化也随使用需求更加丰富多样，完美地实现了目前高端商务用户对于宽大、舒适、人性化空间的需求。
				</p>
			</div>
		</div>
		<div class='carrent_pricelist_wrapper'>
			<table>
				<colgroup>
					<col style="width: 30% ">
					<col style="width: 10%; ">
					<col style="width: 10%; ">
					<col style="width: 10%; ">
					<col style="width: 10%; ">
				</colgroup>
				<thead>
					<tr>
						<td>价格类型</td>
						<td>门市价</td>
						<td>优惠价</td>
						<td>单位</td>
						<td>预订</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>阳朔县城到桂林两江机场</td>
						<td>¥680</td>
						<td class='preferentialprice'>¥480</td>
						<td>单位</td>
						<!-- <td><a href="javascript:;">预订</a></td> -->
						<td><button type="button" class="btn btn-primary">预定</button></td>
					</tr>
					<tr>
						<td>阳朔县城到桂林两江机场</td>
						<td>¥680</td>
						<td class='preferentialprice'>¥480</td>
						<td>单位</td>
						<!-- <td><a href="javascript:;">预订</a></td> -->
						<td><button type="button" class="btn btn-primary">预定</button></td>
					</tr>
					<tr>
						<td>阳朔县城到桂林两江机场</td>
						<td>¥680</td>
						<td class='preferentialprice'>¥480</td>
						<td>单位</td>
						<!-- <td><a href="javascript:;">预订</a></td> -->
						<td><button type="button" class="btn btn-primary">预定</button></td>
					</tr>
					
					

				</tbody>
			</table>
		</div>
		<div class='carrent_detail_wrapper'>
			<div class='title'>
				<ul>
					<li class='active'>
						<a href="javascript:;">车型介绍</a>
					</li>
				</ul>
			</div>
			<div class='content'>
				<ul>
					<li class='introduce'>
						<p>
							全程独立用车和导游 我们会在您到来之前与您一起合理规划线路，以减少重复或绕道，设置最佳的用车方案，即最合适最舒适的车型以及最省钱的优化，为您提供最好的建议、并且会像您忠诚的好朋友一样，为您安排所需要的一切。您可以完全自主地根据自己身体状况来决定是停下来休息，还是继续前行、游玩。一切都那么随心所欲！ 以下是我们精选的线路方案样板，我们还可以根据您的需要量身定制合理的行程！并且在行程里给您详列费用明细，给您算个清楚帐。除此，您还将得到我们额外的双重贴心服务：
						</p>
						<p>
							一重贴心服务：通过本网站预订的旅游活动，都会为您提供专业周到的服务，如果您是团队，会派出专门的工作人员为您的团队提供一对一的服务，让您更加方便地享受到我们人性化的服务，会根据我们接待了众多团队活动所累积下来的经验给您各方面的小提示，让您的桂林之旅更贴心，更开心！
						</p>
						<p>
							二重贴心服务：专业的行程建议，所谓众口难调，作为一次团队活动的组织者，肯定会因为大家的意见不一而感到麻烦，只要您把大家的意见收集起来，转告给我们，我们会根据您及您同行旅友的要求，为您提供专业化的行程建议，做您出行前的小秘书，为您解决众说纷纭拿不定出游行程安排的烦恼。
						</p>
					</li>
				</ul>
			</div>
		</div>
		<div class='common_navgap_item'></div>
		<div class='common_nav_wrapper'>
			<ul>
				<li>
					<a href='<{:U('Index/index')}>'>
						<span class='iconfont icon-house'></span>
						<label>首页</label>
					</a>
				</li>
				<li>
					<a href='#'>
						<span class='iconfont icon-order'></span>
						<label>攻略分享</label>
					</a>
				</li>
				<li>
					<a href='<{:U('User/index')}>'>
						<span class='iconfont icon-user2'></span>
						<label>我的</label>
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>
