<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
	<title>租车列表</title>
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_icgfcixm8qn9izfr.css" />
	<link rel="stylesheet" href="__PUBLIC__/M/assets/css/swiper.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/M/css/reset.css" />
	<link rel='stylesheet' href="__PUBLIC__/M/css/common.css" />
	<link rel='stylesheet' href="__PUBLIC__/M/css/user.css" />
	<link rel='stylesheet' href="__PUBLIC__/M/css/access.css" />
	<link rel='stylesheet' href="__PUBLIC__/M/css/carrent.css" />
	<script type="text/javascript" src='__PUBLIC__/M/assets/js/jquery.min.js'></script>
	<script type="text/javascript" src='__PUBLIC__/M/assets/js/swiper.min.js'></script>
	<script type="text/javascript" src='__PUBLIC__/M/js/base.js'></script>
	<script type="text/javascript" src='__PUBLIC__/M/js/common.js'></script>
	
</head>

<body>
	<div class='main_container'>
		<div class='carrent_mainlist_wrapper'>
			<ul>
				<li>
					<a class='thumbnail' href="javascript:;">
						<img src="__PUBLIC__/M/images/static/car.jpg">
					</a>
					<div class='detail'>
						 <a href="<{:U('Carrent/detail')}>">
						<h2 class='title'>14座金杯/大宇商务车 桂林阳朔包车旅游</h2>
					</a>
						<p>金杯海狮H2L成功打造出5420×1880×2285(mm）的超大车身，其轴距更达到了惊人的3110mm。</p>
					</div>
				</li>
				<li>
					<a class='thumbnail' href="javascript:;">
						<img src="__PUBLIC__/M/images/static/car.jpg">
					</a>
					<div class='detail'>
						<h2 class='title'>14座金杯/大宇商务车 桂林阳朔包车旅游</h2>
						<p>金杯海狮H2L成功打造出5420×1880×2285(mm）的超大车身，其轴距更达到了惊人的3110mm。</p>
					</div>
				</li>
				<li>
					<a class='thumbnail' href="javascript:;">
						<img src="__PUBLIC__/M/images/static/car.jpg">
					</a>
					<div class='detail'>
						<h2 class='title'>14座金杯/大宇商务车 桂林阳朔包车旅游</h2>
						<p>金杯海狮H2L成功打造出5420×1880×2285(mm）的超大车身，其轴距更达到了惊人的3110mm。</p>
					</div>
				</li>
				<li>
					<a class='thumbnail' href="javascript:;">
						<img src="__PUBLIC__/M/images/static/car.jpg">
					</a>
					<div class='detail'>
						<h2 class='title'>14座金杯/大宇商务车 桂林阳朔包车旅游</h2>
						<p>金杯海狮H2L成功打造出5420×1880×2285(mm）的超大车身，</p>
					</div>
				</li>
			</ul>
		</div>
		<div class='common_navgap_item'></div>
		<div class='common_nav_wrapper'>
			<ul>
				<li>
					<a href='<{:U('Index/index')}>'>
						<span class='iconfont icon-house'></span>
						<label>首页</label>
					</a>
				</li>
				<li>
					<a href='#'>
						<span class='iconfont icon-order'></span>
						<label>攻略分享</label>
					</a>
				</li>
				<li>
					<a href='<{:U('User/index')}>'>
						<span class='iconfont icon-user2'></span>
						<label>我的</label>
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>

