<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
		
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:U('Member/index')}" data-title="会员列表" href="javascript:;">会员列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-order">
		<dt><i class="Hui-iconfont">&#xe687;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
		<dd>
			<ul>
				<li><a data-href="{:U('Order/index')}" data-title="订单列表" href="javascript:;">订单列表</a></li>
			</ul>
		</dd>
			<dl id="menu-hotel">
			<dt><i class="Hui-iconfont">&#xe67f;</i> 酒店管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:U('Hotel/index')}" data-title="酒店列表" href="javascript:;">酒店列表</a></li>
				</ul>
			</dd>
		</dl>
	
		<dl id="menu-jipiao">
			<dt><i class="Hui-iconfont">&#xe67f;</i> 机票管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:U('JiPiao/index')}" data-title="机票列表" href="javascript:;">机票列表</a></li>
				</ul>
			</dd>
		</dl>


		<dl id="menu-travel">
			<dt><i class="Hui-iconfont">&#xe6c5;</i> 旅游线路<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:U('travel/travel_edit')}" data-title="新增线路" href="javascript:void(0)">新增线路</a></li>
					<li><a data-href="{:U('travel/travel_list')}" data-title="线路列表" href="javascript:void(0)">线路列表</a></li>
					<li><a data-href="{:U('travel/travel_category')}" data-title="线路分类" href="javascript:void(0)">线路分类</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-carrental">
			<dt><i class="Hui-iconfont">&#xe6c5;</i> 汽车租赁<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:U('carrental/carrental_edit')}" data-title="新增车辆" href="javascript:void(0)">新增车辆</a></li>
					<li><a data-href="{:U('carrental/carrental_list')}" data-title="车辆列表" href="javascript:void(0)">车辆列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:U('User/index')}" data-title="管理员列表" href="javascipt:;">管理员列表</a> </li>
					<li><a data-href="{:U('system/index_category')}" data-title="首页分类" href="javascipt:;">首页分类</a> </li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>