input {
	outline: none;
}
textarea {
	padding: 0;
	resize: none;
}
.active{
	display: block;
}
a.disabled, .disabled {
	color: #a2a2a2;
	border-color: #e8e8e8;
	cursor: not-allowed;
}
.common_btn_item.disabled{
	background-color: #e8e8e8;
}
a.disabled:hover {
	text-decoration: none;
}
/*~~~~~~~~~~main_container~~~~~~~~~~*/
.main_container{
	width: 100%;
}
/*~~~~~~~~~~form~~~~~~~~~~*/
.common_radio_wrapper {
	display: inline-block;
}
.common_radio_wrapper input, .common_radio_wrapper label {
	display: inline-block;
}
.common_input_item {
	display: table-cell;
	width: auto;
	vertical-align: middle;
}
.common_input_item input, .common_input_item textarea {
	padding: 5px;
}
.common_layout_container {
	width: 100%;
	min-width: 1000px;
	font-size: 0;
}

/*~~~~~~~~~~common_btn_item~~~~~~~~~~*/
.common_btn_item {
	display: inline-block;
	height: 25px;
	background-color: #2277da;
	border: 1px solid #2277da;
	border-radius: 2px;
	padding: 0 15px;
	width: auto;
	height: 100%;
	line-height: 25px;
	font-size: 13px;
	color: #fff;
	text-align: center;
	box-sizing: border-box;
}
/*~~~~~~~~~~common_header_wrapper~~~~~~~~~~*/

.common_header_wrapper {
	display: inline-block;
	width: 100%;
	min-width: 900px;
	height: 45px;
	background-color: #f2f6fc;
	vertical-align: top;
	font-size: 0;
}
.common_header_wrapper .menubtn {
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
}
.common_header_wrapper .menubtn a {
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 30px;
	text-align: center;
}
.common_header_wrapper .announcement {
	display: inline-block;
	margin: 0 0 0 20px;
	width: 220px;
	line-height: 35px;
	font-size: 15px;
	vertical-align: middle;
}
.common_header_wrapper .tools {
	float: right;
	padding: 0 10px 0 0;
	font-size: 0;
}
.common_header_wrapper .tools>ul {
	display: inline-block;
	vertical-align: middle;
}
.common_header_wrapper .tools>ul>li:first-child>a {
	border: 0;
}
.common_header_wrapper .tools>ul>li {
	display: inline-block;
	height: 45px;
	position: relative;
}
.common_header_wrapper .tools>ul>li>a {
	display: inline-block;
	margin: 15px 0;
	padding: 0 10px;
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	border-left:1px solid #ccc;
	vertical-align: middle;
}
.common_header_wrapper .tools>ul>li .iconfont{
	font-size: 15px;
}
.common_header_wrapper .tools>ul>li:hover .layout_menu_wrapper {
	display: block;
}

/*~~~~~~~~~~common_popup_wrapper~~~~~~~~~~*/

.common_popup_wrapper {
	position: relative;
}
.common_popup_wrapper .form {
	margin: 0 auto;
	width: 95%;
	font-size: 0;
}
.common_popup_wrapper .form li {
	font-size: 14px;
}
.common_popup_wrapper .form label {
	display: inline-block;
	width: 20%;
	color: #333;
	text-align: right;
}
.common_popup_wrapper .form span {
	display: inline-block;
	padding: 0 0 0 15px;
	width: 80%;
	box-sizing: border-box;
}
.common_popup_wrapper .form input[type=text] {
	display: inline-block;
	margin: 0 0 0 5%;
	padding: 0 5px;
	width: 70%;
	height: 100%;
	font-size: 16px;
	box-sizing: border-box;
}
.common_popup_wrapper .form input[type=checkbox] {
	display: inline-block;
	margin: 0 0 0 5%;
	padding: 0 5px;
	font-size: 16px;
	box-sizing: border-box;
}
.common_popup_wrapper .form li {
	margin: 20px 0;
	height: 30px;
}
.common_popup_wrapper .title {
	padding: 15px 0 10px 0;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.common_popupbtn_item {
	display: block;
	margin: 20px auto 0;
	width: 100px;
	height: 30px;
	line-height: 30px;
	background: #3da14d;
	color: #fff;
	font-size: 13px;
	text-align: center;
	border-radius: 5px;
}
.common_popupbtn_item:hover {
	background: #51d366;
	transition: all 0.3s;
}
.common_popup_wrapper .closebtn {
	display: block;
	font-size: 13px;
	position: absolute;
	top: 10px;
	right: 10px;
}

/*~~~~~~~~~~layout_main_container~~~~~~~~~~*/

.layout_main_container {
	display: inline-block;
	width: 100%;
	/*	min-width: 1000px;*/
	vertical-align: top;
}

/*~~~~~~~~~~common_iconbtn_item~~~~~~~~~~*/

.common_iconbtn_item {
	display: inline-block;
	width: 30px;
	height: 20px;
	text-align: center;
	position: relative;
}
.common_iconbtn_item span {
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 20px;
}
.common_iconbtn_item label {
	display: inline-block;
	padding: 1px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	background-color: red;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	top: -3px;
	right: -5px;
}

/*~~~~~~~~~~common_search_wapper~~~~~~~~~~*/

.common_search_wapper {
	display: inline-block;
	padding: 0 10px;
	width: 200px;
	position: relative;
}
.common_search_wapper input {
	padding: 0 10% 0 5%;
	width: 85%;
	height: 30px;
	border: 0;
	border-radius: 15px;
	background-color: #d7e0ef;
	font-size: 15px;
}
.common_search_wapper a {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 15px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}
.common_nav_wrapper {
	display: inline-block;
	padding:10px 0 0 0;
	width: 10%;
	/*	min-width: 140px;*/
	background-color: #1b2133;
	vertical-align: middle;
	position: relative;
}
.common_nav_wrapper.collapase{
	width: 5%;
}
.common_nav_wrapper ul.collapase>li>a label{
	display: none;
}
.common_nav_wrapper li {
	display: block;
	padding: 0 0 0 5%;
	width: 95%;
	line-height: 50px;
	text-align: center;
	border-left: 4px solid transparent;
	box-sizing: border-box;
	transition: all 0.3s;
}
.common_nav_wrapper li:hover, .common_nav_wrapper .active {
	border-left: 4px solid #7fbe25;
	transition: all 0.3s;
}
.common_nav_wrapper li a {
	display: block;
	color: #eee;
	font-size: 15px;
	text-align: left;
}
.common_nav_wrapper li a span {
	display: inline-block;
	font-size: 15px;
}
.common_nav_wrapper li a label {
	display: inline-block;
	cursor: pointer;
}
.common_title_wrapper {
	display: inline-block;
	width: 10%;
	height: 45px;
	vertical-align: middle;
}
.common_title_wrapper h1 {
	line-height: 44px;
	font-size: 16px;
	color: #1b2133;
	text-align: center;
}
.common_title_wrapper .closebtn {
	display: none;
}

/*~~~~~~~~~~common_tabtitle_wrapper~~~~~~~~~~*/
.common_tabtitle_wrapper{
	font-size: 0;
}
.common_tabtitle_wrapper li{
	display: inline-block;
	font-size: 15px;
	position: relative;
	top: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent transparent #ccc transparent;
	background-color: #fff;
}
.common_tabtitle_wrapper li a{
	display: block;
	padding: 10px 20px;
	color: #999;
}
.common_tabtitle_wrapper .active{
	display: inline-block;

	border-color: #ccc #ccc transparent #ccc;
}
.common_tabtitle_wrapper .active a{
	color: #666;
}
.common_tabcontent_wrapper{
	border-top: 1px solid #ccc;
}
.common_tabcontent_wrapper>ul>li{
	display: none;
	width: 100%;

}
.common_tabcontent_wrapper .active{
	display: inline-block;
}

/*~~~~~~~~~~common_detailtitle_item~~~~~~~~~~*/
.common_detailtitle_item{
	padding: 10px 0;
	width: 100%;
	font-size: 20px;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}
.common_detailtitle_item a{
	display: inline-block;
	padding: 0 10px 0 0;
	border-right: 1px solid #666;
	font-size: 16px;
	vertical-align: middle;
}
.common_detailtitle_item a span, .common_detailtitle_item a label{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	color: #2277da;
}
.common_detailtitle_item a span{
	padding: 0 2px;
}
.common_detailtitle_item h3{
	display: inline-block;
	vertical-align: middle;
}

/*~~~~~~~~~~common_form_wrapper~~~~~~~~~~*/
.common_form_wrapper{
	font-size: 15px;
}
.common_form_wrapper ul {
	display: table;
}
.common_form_wrapper li {
	display: table-row;
	margin: 30px 0;
	width: 100%;
	height: 40px;
}
.common_form_wrapper li>label {
	display: table-cell;
	padding: 0 20px 0 0;
	color: #666;
	vertical-align: middle;
}
.common_form_wrapper .common_input_item {
	display: table-cell;
	padding: 10px 0;
	border-color: #666;
}
.common_form_wrapper textarea {
	height: 60px;
}
/*~~~~~~~~~~common_formdetail_item~~~~~~~~~~*/
.common_formdetail_item{
	display: table-cell;
	color: #333;
	vertical-align: middle;
}


























/*~~~~~~~~~~common_footer_container~~~~~~~~~~*/

.common_footer_container {
	width: 100%;
}
.common_footer_wrapper {
	margin: 0 auto;
	padding: 25px 0;
	width: 1200px;
	text-align: center;
}
.common_footer_wrapper ul li {
	display: inline-block;
	padding: 0 10px;
	font-size: 13px;
	border-left: 1px solid #98aac2;
}
.common_footer_wrapper ul li a {
	color: #98aac2;
}
.common_footer_wrapper ul li a:hover {
	color: #68798f;
}
.common_footer_wrapper ul li:first-child {
	border: 0;
}
.common_footer_wrapper .copyright {
	margin: 20px 0 0 0;
	font-size: 13px;
	color: #98aac2;
}

/*~~~~~~~~~~common_pagination_wrapper~~~~~~~~~~*/
.common_pagination_wrapper {
	font-size: 0;
	text-align: center;
}
.common_pagination_wrapper>a {
	display: inline-block;
	padding: 0 5px;
	height: 100%;
	line-height: 30px;
	background-color: #fff;
	color: #3da14d;
	text-align: center;
}
.common_pagination_wrapper ul {
	display: inline-block;
	text-align: center;
}
.common_pagination_wrapper li, .common_pagination_wrapper>a {
	display: inline-block;
	margin: 10px 5px;
	min-width: 30px;
	height: 30px;
	vertical-align: top;
	font-size: 13px;
}
.common_pagination_wrapper li a {
	display: inline-block;
	padding: 0 5px;
	width: 100%;
	height: 100%;
	line-height: 30px;
	background-color: #fff;
	color: #3da14d;
	text-align: center;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.common_pagination_wrapper a:hover, .common_pagination_wrapper .active a {
	background-color: #3da14d;
	color: #fff;
}
