<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
	<title>关于我们</title>
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_icgfcixm8qn9izfr.css" />
	<link rel="stylesheet" href="__PUBLIC__/M/assets/css/swiper.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/M/css/reset.css" />
	<link rel='stylesheet' href="__PUBLIC__/M/css/common.css" />
	<link rel='stylesheet' href="__PUBLIC__/M/css/user.css" />
	<link rel='stylesheet' href="__PUBLIC__/M/css/access.css" />
	<script type="text/javascript" src='__PUBLIC__/M/assets/js/jquery.min.js'></script>
	<script type="text/javascript" src='__PUBLIC__/M/assets/js/swiper.min.js'></script>
	<script type="text/javascript" src='__PUBLIC__/M/js/base.js'></script>
	<script type="text/javascript" src='__PUBLIC__/M/js/common.js'></script>
	
</head>

<body>
	<div class='main_container'>
		<div class="common_header_wrapper">
            <a class="left_btn back_btn" href="<{:U('User/index')}>">
                <span class="iconfont icon-backward2"></span>
            </a>
            <p>关于</p>
        </div>
        <div class='user_about_wrapper'>
        	<p>
        		一直专注于品质|轻旅行商城的打造，在自助旅游这个不断增长的细分领域，除了提供体验性自助游产品，也与众多知名酒店，景区，户外品牌深度合作，后续会不断发起众多特色特别的体验活动。
        	</p>
        </div>
	</div>
</body>

</html>

